<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.warzero.vinlandblog.mapper.CategoryMapper">

    <resultMap id="BaseResultMap" type="com.warzero.vinlandblog.domain.Category">
        <result property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="pid" column="pid"/>
        <result property="description" column="description"/>
        <result property="status" column="status"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
        <result property="delFlag" column="del_flag"/>
    </resultMap>

    <select id="list" resultMap="BaseResultMap">
        SELECT
            *
        FROM
            category
        WHERE
            1=1
        <if test="id != null">
            AND id = #{id}
        </if>
        <if test="name != null">
            AND name = #{name}
        </if>
        <if test="status != null">
            AND status = #{status}
        </if>
    </select>
    <select id="listCategoryCount" resultType="com.warzero.vinlandblog.domain.vo.CategoryCountVo">
        SELECT
          t1.id, t1.name, t1.pid, t2.count
        FROM
          category t1
        LEFT JOIN
       (SELECT
         a.category_id, COUNT(*) AS count
        FROM
         article a
        WHERE a.status = 0
        GROUP BY a.category_id) t2 ON t2.category_id = t1.id
    </select>

    <select id="getByCategoryName" resultMap="BaseResultMap">
        SELECT
            *
        FROM
            category
        WHERE
            1=1
        AND name = #{name}
    </select>


</mapper>